#root {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.red {
  background-color: red;
  width: 250px;
  height: 250px;
}

.green {
  background-color: green;
  width: 200px;
  height: 200px;
}

.blue {
  background-color: blue;
  width: 150px;
  height: 150px;
}

.yellow {
  background-color: yellow;
  width: 100px;
  height: 100px;
}

.black {
  background-color: black;
  width: 50px;
  height: 50px;
}

.purple {
  background-color: purple;
  width: 300px;
  height: 300px;
}

.darkblue {
  background-color: darkblue;
  width: 350px;
  height: 350px;
}

.grey {
  background-color: grey;
  width: 400px;
  height: 400px;
}

.flag {
  width: 500px;
  height: 300px;
  background-color: red;
  border: 1px solid black;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.star {
  width: 100px;
  height: 100px;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}