body {
    background-color: rgb(219, 217, 217);
}
#form {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    border: 1px #9b9b9b solid;
    width: 500px;
    height: max-content;
    margin: auto;
    border-radius: 5px;
    min-height: 500px;
    background-color: whitesmoke;
}
h1 {
    text-align: center;
}
#container {
    padding: 10px 10px 10px 10px;
}
#todo-input {
    font-family: Arial, Helvetica, sans-serif;
    width: 270px;
    border: 0;
    border-bottom: 1px solid #9b9b9b;
    outline: 1;
    font-size: 1.3rem;
    color: rgb(46, 45, 45);
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
}

#todo-input:focus {
    padding-bottom: 6px;
    font-weight: 700;
    border-width: 3px;
    border-image: linear-gradient(to right, #11998e, #38ef7d);
    border-image-slice: 1;
}

#container-buttonAdd {
    --button:  rgb(27, 184, 27);
    --button-hover:  rgb(22, 151, 22);
    --button-active: #a2db5a;
    --button-visited: hsl(346, 100%, 70%);
    --button-colour: var(--colour-black);
    --button-border: var(--colour-black);
    color: white;
}

button {
    padding: .4rem 1.2rem;
    color: var(--button-colour);
    font-weight: 500;
    font-size: 16px;
    transition: all 0.3s ease-in-out;
    background: var(--button);
    border: solid 1px var(--button-border);
    box-shadow: inset 0 0 0 2px var(--colour-white);
    margin-right: 1em;
    border-radius: 5px;
}

button:hover {
    text-decoration: underline;
    background: var(--button-hover);
    box-shadow: inset 0 0 0 4px var(--colour-white);
}

button:active {
    background: var(--button-active);
}

button:visited {
    background: var(--button-visited);
}

#tasks button {
    --button:  rgb(27, 184, 27);
    --button-hover: rgb(22, 151, 22);
    --button-active: hsl(0, 0%, 30%);
    --button-visited: hsl(0, 0%, 20%);
    --button-colour: var(--colour-white);
    --button-border: var(--colour-black);
    color: #fff;
}

#tasks li {
    border: 0px;
    border-bottom: 1px solid #11998e;
    width: max-content;
}

#tasks li button:nth-child(Even) {
    --button: #ff4d4d;
    --button-hover: #ff9a9a;
    --button-active: hsl(0, 0%, 30%);
    --button-visited: #ff8181;
    --button-colour: var(--colour-white);
    --button-border: var(--colour-black);
    color: #fff;
}

#tasks input {
    border: 0;
    
    ;
}

#custom_select {
    position: relative;
    display: inline-block;
    float: right;
    bottom: 10px;
    right: 15px;
}

#custom_select #status-filter {
    background-color: #1bffb2;
    color: white;
    padding: 10px;
    width: 120px;
    border: none;
    font-size: 17px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
    -webkit-appearance: button;
    appearance: button;
    outline: none;
    border-radius: 3px;
}

#custom_select:hover::before {
    color: rgba(255, 255, 255, 0.6);
    background-color: rgba(255, 255, 255, 0.2);
}

#custom_select select option {
    padding: 30px;
}

#tasks li {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-bottom: 10px;
}
input[type=checkbox]:checked+input {
    text-decoration: line-through;
}
#update-button {
    --button:  rgb(27, 184, 27);
    --button-hover:  rgb(22, 151, 22);
    --button-active: #a2db5a;
    --button-visited: hsl(346, 100%, 70%);
    --button-colour: var(--colour-black);
    --button-border: var(--colour-black);
    color: white;
    padding-left: 15px;
    padding-right: 15px;
}
#cancel-button {
    --button: whitesmoke;
    --button-hover: grey;
    --button-active: #a2db5a;
    --button-visited: hsl(346, 100%, 70%);
    --button-colour: var(--colour-black);
    --button-border: var(--colour-black);
    color: black;
    padding-left: 15px;
    padding-right: 15px;
}