#username-errors,
#password-errors {
    color: red;
    height: 45px;
}
#confirmPassword-errors {
    color: red;
    height: 20px;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(219, 217, 217);
}
.error {
    outline: 2px solid red
}
.auth-card {
    width: 400px;
    height: 400px;
    border: solid 1px;
    border-radius: 10px;
    border-color: rgb(146, 146, 146);
    background-color: whitesmoke;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    padding: 50px;
    
}
.signUp-auth-card {
    width: 400px;
    height: 450px;
    border: solid 1px;
    border-radius: 10px;
    border-color: rgb(146, 146, 146);
    background-color: whitesmoke;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    padding: 50px;
    
}
h1 {
    text-align: center;
    color: green;
    border: solid 1px;
    border-radius: 15px;
}
h1:hover {
    color: rgb(80, 182, 223);
    transition: 0.5s;
}
#username-field {
    padding: 10px;
    width: 375px;
    margin-top: 50px;
    
}
#password-field {
    
    padding: 10px;
    width: 375px;
}
#username-errors {
    color: red;
    height: 93px;
}
#confirmPassword-field {
    
    padding: 10px;
    width: 375px;
}
.primaryButton {
    background-color: rgb(27, 184, 27);
    width: 400px;
    height: 40px;
    border-style: none;
    font-size: 17px;
    color: white;
    border-radius: 5px;

    
}
.primaryButton:hover {
    background-color: rgb(36, 145, 36);
}
.secondaryButton {
    display: flex;
    align-items: center;
    background-color: white;
    width: 70px;
    height: 30px;
    float: right;
    justify-content: center;
    text-decoration: none;
    font-size: 17px;
    padding: 1px 6px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 5px;
    color: black;
    margin-top: 10px;
}
.secondaryButton:hover {
    background-color: rgb(57, 151, 189);
    color: white;

}