.form {
    display: flex;
    justify-content: space-evenly;
}

.form-container {
    border: 3px solid #f1f1f1;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

body {
    background: #fff;
    color: #333;
    font-family: Lato, sans-serif;
}

input {
    width: 300px;
    padding: 12px 20px;
    margin: 8px 0;
    display: flex;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    margin: 8px;
    border: 5px;
    cursor: pointer;
    width: 200px;
}

button:hover {
    opacity: 0.8;
}