body {
    border: 3px solid #f1f1f1;
    width: 500px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

input[type=text],
input[type=password] {
    padding: 10px 20px;
    margin: 8px 0;
    width: 250px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

input[type=checkbox] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    margin: 8px;
    border: 5px;
    cursor: pointer;
}

.to-do-list {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

input[type=button] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    margin: 8px;
    border: 5px;
    cursor: pointer;
    width: 90px;
}

input[type=button]:hover {
    opacity: 0.8;
}

span {
    font-size: 20px;
    padding: 10px;
    margin: 10px;
    width: 200px;
}

#to-do-button {
    margin: auto;
}

.completed-tasks span {
    text-decoration: line-through;
}