body {
  position: relative;
}
.form-container {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 500px;
  display: flex;
  flex-direction: column;
}
.__form-title {
  align-self: center;
}
.__username-input, .__password-input,.__confirm-password-input {
  width: 200px;
  align-self: center;
}
.__login-button, .__sign-up-button, .__back-button {
  width: 100px;
  align-self: center;
}
