
.main-container {
  width: 500px;
  display: flex;  
  flex-direction: column;
}
.task-detail-container {
  display: flex;
  justify-content: space-between;
}
.__check-box {
  flex: 1
}
.__task-name {
  flex: 5
}
.__edit-button {
  flex: 1
}
.__delete-button {
  flex: 1
}
.__add-update-container {
  display: flex;
}
.task-name-input {
  flex: 3
}
.add-update-button {
  flex: 1
}
.cancel-button {
  flex: 1
}
.main-container {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 500px;
  display: flex;
  flex-direction: column;
}